{% extends "base_2.html" %}
{% block title %}	Login{% endblock %}
{% block content %}
<div id='cssmenu'>
<ul>
	<li><a class="active" href="{{ path_for('log') }}">Login</a></li>
	
	<li><a href="{{ path_for('reg') }}">Register</a></li>
</ul>
</div>
<form method="post" action="{{ path_for('connexion') }}">

      <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<div class="div_form">
   
   <fieldset>
	   
        <label for="name">Name/email </label>
	   
       <input type="text" name="name" id="name" maxlength="20" required/>
	   <br/>
	   <br/>
	   
	   <label for="password">password </label>
	   
       <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[A-Z]).{6,12}" required />
	   
	   <br/>
	   <br/>
	   
	   <input type="submit"value="Login"/>
	   
   </fieldset>
     </div>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}