{% extends "base.html" %}
{% block title %}	Main{% endblock %}
{% block content %}

					<table>
						 <thead>
   
       <tr class="table100-head">
		   <th class="column1" align="center">Type </th>
           <th class="column1" align="center">Name </th>
		   <th class="column1" align="center">Enter/DL</th>
		   <th class="column1" align="center">Remove</th>
		   <th class="column1" align="center">Rename</th>
       </tr>
	   
   </thead>
   
   <tbody>
       
	{% for list_data in content|reverse %}
		{% if list_data[1] != "dot" %}
			
			{% if list_data[1] == "Folder" %}
			<tr  ondblclick="window.location.href = '{{ path_for('main') }}?folder={{list_data[0]}}';">
			{% else%}
			<tr>
			{% endif %}
			
			
			<td class="column1">{{list_data[1]}} </td>
			<td class="column1">{{list_data[0]}} </td>
			
			{% if list_data[1] == "Folder" %}
				<td  class="column1"><a href="{{ path_for('main') }}?folder={{list_data[0]}}">Enter</a> </td>
			{% endif %}
			
			{% if list_data[1] == "File" %}
				<td class="column1"><a href="{{ path_for('dl') }}?file={{list_data[2]}}/{{list_data[0]}}">Download</a> </td>
			{% endif %}
			
			<td class="column1"><a href="{{ path_for('file_r') }}?remove={{list_data[2]}}/{{list_data[0]}}">{{list_data[0]}}</a>  </td>
			<td class="column1"><a href="javascript:rename('{{list_data[2]}}','{{list_data[0]}}');">{{list_data[0]}}</a>  </td>
			
			</tr>
			
		{% elseif  list_data[0] != "." %}
			<tr><td colspan="5"><a href="javascript:file_up('{{list_data[2]}}');">Upload new file</a> </td></tr>
			<tr><td colspan="5"><a href="javascript:create('{{list_data[2]}}');">Create new folder</a></td></tr>
			<tr><td colspan="5">
			<form name="role" id="role" action="javascript:share('{{list_data[2]}}');">
			
			<input type="submit" value="SHARE"></input>
			<label for="name">Admin Role </label>
			<input type="checkbox" name="check_role" id="check_role">
			</form>
			</td></tr>
		{% endif %}
		
	{% endfor %}
	
   </tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}