{% extends "base.html" %}
{% block title %}	Register{% endblock %}
{% block content %}
<div id='cssmenu'>
<ul>
		<li><a href="{{ path_for('log') }}">Login</a></li>
		
		<li><a class="active" href="{{ path_for('reg') }}">Register</a></li>

</ul>
</div>


<form method="post" action="{{ path_for('save') }}">
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<div class="div_form">

   <fieldset>

       <label for="name">Name </label>
	   
       <input type="text" name="name" id="name" maxlength="20" required/>
	   
	   <br/>
	   <br/>
	   
	   <label for="email">Email</label>
	   
       <input type="email" name="email" id="email" required />
	   
	   <br/>
	   <br/>
	   
	   <label for="password">password </label>
	   
       <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[A-Z]).{6,12}" required />
	   
	   <br/>
	   <br/>	
	   
	   <label for="c_password">Confirm password </label>
	   
       <input type="password" name="c_password" id="c_password" pattern="(?=.*\d)(?=.*[A-Z]).{6,12}" required />
	   
	   <br/>
	   <br/>
	   
	   <label for="birthdate">birthdate</label>
	   
       <input type="date" name="birthdate" id="birthdate" required />
	   
	   <br/>
	   <br/>
	   
       <p>Description</p>
	   
	   <textarea name="description" id="description" cols="40" rows="5"></textarea>
	   
	   <br/>
	   <br/>
	   
       <input type="submit"value="Register" />
		   <br/>
   <br/>
   </fieldset>
   </div>
				</div>
			</div>
		</div>
	</div>
</form>




{% endblock %}