{% extends "base.html" %}
{% block title %}	share{%endblock %}
{% block content %}

					<table>
						 <thead>
   
       <tr class="table100-head">
		   <th class="column1" align="center">Content  </th>
           <th class="column1" align="center">Type </th>
		   <th class="column1" align="center">DL</th>

       </tr>
	   
   </thead>
   
   <tbody>
       
	{% for list_data in content|reverse %}
		
		{% if list_data[1] != "dot" %}
			<tr>
			<td class="column1" align="center">{{list_data[0]}} </td>
			<td class="column1" align="center">{{list_data[1]}} </td>
			{% if list_data[1] == "File" %}
				<td class="column1" align="center"><a href="{{ path_for('dl')}}?file={{path}}/{{list_data[0]}}">Download</a> </td>
			{% endif %}
			
			</tr>
		{% endif %}
	{% endfor %}
	
   </tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}