{% extends "base.html" %}
{% block title %}	share{%endblock %}
{% block content %}
<div id='cssmenu'>
<ul>
		<li><a href="{{ path_for('main') }}">Main</a></li>
		
		<li><a href="{{ path_for('update') }}">Update</a></li>
		
		<li><a class="active" href="{{ path_for('sharing') }}">Shared</a></li>
		
		<li style="float:right"><a href="#">Logged : {{ name }}</a></li>
		
		<li style="float:right"><a href="{{ path_for('logout') }}">logout</a></li>
		
		<li style="float:right"><a class="danger" href="{{ path_for('remove') }}">Remove account</a></li>
		
</ul>
</div>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						 <thead>
   
       <tr class="table100-head">
		   <th class="column1" align="center">Content  </th>
           <th class="column1" align="center">Type </th>
		   <th class="column1" align="center">DL</th>

       </tr>
	   
   </thead>
   
   <tbody>
       
	{% for list_data in content|reverse %}
		
		{% if list_data[1] != "dot" %}
			<tr>
			<td class="column1" align="center">{{list_data[0]}} </td>
			<td class="column1" align="center">{{list_data[1]}} </td>
			{% if list_data[1] == "File" %}
				<td class="column1" align="center"><a href="{{ path_for('dl')}}?file={{path}}/{{list_data[0]}}">Download</a> </td>
			{% endif %}
			
			</tr>
		{% endif %}
	{% endfor %}
	
   </tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}