{% extends "base.html" %}
{% block title %}	Share{% endblock %}
{% block content %}
					<table>
						 <thead>
   
       <tr class="table100-head">
		   <th class="column1" align="center">The Owner </th>
           <th class="column1" align="center">share for Role</th>
		   <th class="column1" align="center">share for email</th>
		   <th class="column1" align="center">Path file sharing</th>
		   <th class="column1" align="center">Open</th>
       </tr>
	   
   </thead>
   
   <tbody>
       
	{% for list_data in content %}
			<tr>
				<td class="column1" align="center">{{list_data[1]}} </td>
				<td class="column1" align="center">{{list_data[3]}} </td>
				<td class="column1" align="center">{{list_data[2]}} </td>
				<td class="column1" align="center">{{list_data[0]}} </td>
				<td class="column1" align="center"><a href="javascript:share_f('{{list_data[0]}}');">Link</a> </td>
			</tr>
	{% endfor %}
	
   </tbody>
						
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}