{% extends "base.html" %}
{% block title %}	Update{% endblock %}
{% block content %}
					 <form method="post" action="{{ path_for('mod') }}">
					<div class="div_form">
					<fieldset>

					   <label for="email">Email</label>
					   <input type="email" name="email" id="email" value="{{ email }}"/>
					   <br/><br/>
					   
					   
					   <label for="password">password </label>
					   <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[A-Z]).{6,12}"/>
					   <br/>
					   <br/>
					   <label for="c_password">Confirm password </label>
						<input type="password" name="c_password" id="c_password" pattern="(?=.*\d)(?=.*[A-Z]).{6,12}" required />
						<br/>
					   <br/>
					   <label for="birthday">birthday </label>
					   <input type="text" name="birthdate" id="birthdate" value="{{ birthdate }}" disabled/>
					   <br/>
					   <br/>
					   
					   <p>Description</p>
					   <textarea name="description" id="description" cols="40" rows="5" disabled >{{ description }}</textarea>

					   <br/>
					   <br/>
					   <input type="submit"value="Update"/>
						<br/>
					   <br/>
					</fieldset>
					
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
   

{% endblock %}