ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {

	color: white;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: #40A497;
}

label { display: block; width: 300px; }

table, th, td,caption {
   border: 1px solid black;
}

.active {
    background-color: #4CAF50;
}

.danger{
	color: red;
}